<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <%-include('partials/bootstrap.ejs')-%>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  padding-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

.hero {
  background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

    </style>
  </head>
  <>
    <nav class="nav">
      <div class="container">
        <h3 class="logo"><a href="/index.html">Data Manager</a></h3>
        <ul>
          <li><a href="#" class="current">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="/tasks/add">Create Task</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="/logout" type="submit" class="btn btn-danger btn-sm">Log Out</a></li>
        </ul>
      </div>
    </nav>
 
    <br>
             <br><br>
            
<div class="container">
  <h3  class="text-center m-5 p-2">All Tasks</h3>
  <table class="table table-dark p-5">
      <thead>
        <tr>
         
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Created At</th>
          <th class="text-center">Manage</th>
        </tr>
      </thead>
      <tbody>
        
      <%tasks.forEach((task) => { %>
        <tr>
         
          <td><%=task.description%></td>
          <td><%=task.status%></td>
          <td><%=task.createdAt.toLocaleDateString()%></td>
          <td><form action="/tasks/<%=task.id%>?_method=DELETE" method="POST" class="text-center">
           <button type="submit" class="btn btn-danger btn-sm" id="delete">Delete</button>
           <a href="/tasks/edit/<%=task.id%>" class="btn btn-primary btn-sm">Update</a>
          </form></td>
   
        </tr>
    <%  })%>
     
      </tbody>
      
    </table>
</div>
    <script>
      const nav = document.querySelector('.nav')
window.addEventListener('scroll', fixNav)

function fixNav() {
    if(window.scrollY > nav.offsetHeight + 150) {
        nav.classList.add('active')
    } else {
        nav.classList.remove('active')
    }
}


    </script>
  </body>
</html>
